---
layout: default
---
<header class="masthead">        
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
<!-- Presentations -->
<h2 class="masthead-title">talks</h2>

  <div class="list-item">
    <h2 class="list-post-title">
        <a href="https://thundershiviah.github.io/time_complexity_presentation/#/">
        How to think like a computer scientist
            <h4>PDX Code Guild | Portland, OR</h4></a>
    </h2>
    <div class="list-post-date"><time>13 SEPTEMBER 2015</time></div>

  </div> 

  <div class="list-item">
    <h2 class="list-post-title">
        <a href="https://thundershiviah.github.io/TechFestNW-Hyperparameter_talk/#/">Hyperparameter optimisation for fun and profit
            <h4>TechFestNW | Portland, OR</h4></a>
    </h2>
    <div class="list-post-date"><time>21 AUGUST 2015</time></div>
  </div> 

<!-- Blog posts -->
<h2 class="masthead-title">blog</h2>
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <time>{{ post.date | date_to_long_string }}</time>
    </div>
  </div>
{% endfor %}
{% endif %}
</div>
